@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
    format("truetype");
}

@theme {
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --color-dark-mode-elements: hsl(209, 23%, 22%);
  --color-dark-mode-background: hsl(207, 26%, 17%);
  --color-light-mode-text: hsl(200, 15%, 8%);
  --color-light-mode-input: hsl(0, 0%, 50%);
  --color-light-mode-background: #fcfcfc;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-light-mode-background);
}

body,
#root {
  min-height: 100vh;
}

.dark {
  background-color: var(--color-dark-mode-background);
}
